<div class="col-sm-6">
  <dl>
    <dt>Description</dt>
    <dd>Describe your task. Best description is short as possible but long as necessary.</dd>

    <dt>Time cost</dt>
    <dd>How long it will take to solve it? Guess some non-zero number. Tasks are ordered and displayed from least to most time costly. Default is 10 minutes.</dd>

    <dt>Tags</dt>
    <dd>
      Tags are mainly for easy grouping. Type them separated with comma. Some tags also have special functionallity:
      <ul>
        <li><span class="label label-info">hide</span> prevents task from appearing in task list. However, when you start filtering tasks, it will appear.</li>
        <li>
          <span class="label label-info">complete</span> marks task completed. This tag is added when you click on
          <button class="btn btn-default btn-xs">
            <i class="fa fa-check fa-lg"></i>
          </button>.
        </li>
      </ul>
    </dd>
  </dl>
</div>
