<form class='form-inline filter-form' action="<%= form_path %>" method="get">
  <div class="form-group">
    <label for="description">Description</label>
    <input class="form-control" type="text" label="description" name="description" placeholder="Description" value="<%= filter.description %>"/>
  </div>

  <div class="form-group">
    <label for="tags">Tags</label>
    <input class="form-control" type="text" id="tags" name="tags" placeholder="Tags" value="<%= filter.tags.join(', ') %>"/>
  </div>

  <a href="<%= form_path %>" class="btn btn-default pull-right">Reset filter</a>
  <button type="submit" class="btn btn-default pull-right">Filter</button>
</form>
