<div class="row terms-of-service">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h1>SupTasks Changelog</h1>

        <dl>
          <dt>v14 15.11.2015</dt>
          <dd>
            <ul>
              <li>Added task filtering by description and status</li>
              <li>Fixed non working task update(and complete)</li>
            </ul>
          </dd>

          <dt>v13 5.11.2015</dt>
          <dd>
            <ul>
              <li>Fixed and improved flash message after task creation</li>
              <li>Added message after time record creation</li>
            </ul>
          </dd>

          <dt>v12 31.10.2015</dt>
          <dd>
            <ul>
              <li>Task IDs aren't shown anywhere anymore. I found them only distracting</li>
              <li>Minor changes to how and when is duration shown</li>
            </ul>
          </dd>

          <dt>v11 24.10.2015</dt>
          <dd>
            <ul>
              <li>Removed form from time records index page</li>
              <li>Time records on theirs index are now grouped by days and then by task the belong to</li>
            </ul>
          </dd>

          <dt>v10 21.10.2015</dt>
          <dd>
            <ul>
              <li>Cosmetic chages in changelog</li>
              <li>Make About page instead of TOS</li>
            </ul>
          </dd>

          <dt>v9 17.10.2015</dt>
          <dd>
            <ul>
              <li>Cosmetic chages to time records form</li>
              <li>Cosmetic chages to task show</li>
              <li>Added started at input to time records form so user can add time records in past</li>
              <li>Added basic TOS</li>
            </ul>
          </dd>

          <dt>v8 14.10.2015</dt>
          <dd>
            <ul>
              <li>Cosmetic chages to dashboard buttons</li>
              <li>Added description input into time record form</li>
              <li>Now showing time record description in time records list</li>
            </ul>
          </dd>

          <dt>v7 13.10.2015</dt>
          <dd>
            <ul>
              <li>Clear timer with one click</li>
              <li>Remove spinners from duration field</li>
              <li>Show spent time chart only for last 14 days</li>
              <li>Add pagination for spent time chart</li>
            </ul>
          </dd>

          <dt>v6 11.10.2015</dt>
          <dd>
            <ul>
              <li>Add v1 chart of spent time in last 21 days</li>
              <li>Add user counter on homepage</li>
              <li>Remove hardmode from homepage. It's not the right word :)</li>
            </ul>
          </dd>

          <dt>v5 4.10.2015</dt>
          <dd>
            <ul>
              <li>Quickly assign spend time with just one button</li>
            </ul>
          </dd>

          <dt>v4 29.9.2015</dt>
          <dd>
            <ul>
              <li>Swapped estimated time with spent time</li>
              <li>Duration is saved in sessionStorage until it gets send with form</li>
            </ul>
          </dd>

          <dt>v3 28.9.2015</dt>
          <dd>
            <ul>
              <li>Added time formatting</li>
              <li>Reorganized time records table</li>
            </ul>
          </dd>

          <dt>v2 25.9.2015</dt>
          <dd>
            <ul>
              <li>Added dates to changelog</li>
              <li>Cosmetic changes to panel titles and timers</li>
              <li>Grouping spent time on dashboard by task</li>
            </ul>
          </dd>

          <dt>v1 23.9.2015</dt>
          <dd>
            <ul>
              <li>Added this changelog. Woooooooot! :)</li>
              <li>Updated panel headings</li>
              <li>Display today created time records on dashboard instead of last 24 hours</li>
            </ul>
          </dd>

          <dt>v0</dt>
          <dd>
            <span>Version zero. Undocumented things. Deep dark space.</span>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>
