<div class="row terms-of-service">
  <div class="col-sm-12">
    <h1>SupTasks Changelog</h1>

    <dl>
      <dt>v2</dt>
      <dd>
        <ul>
          <li>Bug fix</li>
          <li>New feature</li>
        </ul>
      </dd>

      <dt>v1</dt>
      <dd>
        <ul>
          <li>Some feature</li>
          <li>Other feature</li>
        </ul>
      </dd>
    </dl>
  </div>
</div>
