<div class="row terms-of-service">
  <div class="col-sm-12">
    <h1>SupTasks Changelog</h1>

    <dl>
      <dt>v5 4.10.2015</dt>
      <dd>
        <ul>
          <li>Quickly assign spend time with just one button</li>
        </ul>
      </dd>

      <dt>v4 29.9.2015</dt>
      <dd>
        <ul>
          <li>Swapped estimated time with spent time</li>
          <li>Duration is saved in sessionStorage until it gets send with form</li>
        </ul>
      </dd>

      <dt>v3 28.9.2015</dt>
      <dd>
        <ul>
          <li>Added time formatting</li>
          <li>Reorganized time records table</li>
        </ul>
      </dd>

      <dt>v2 25.9.2015</dt>
      <dd>
        <ul>
          <li>Added dates to changelog</li>
          <li>Cosmetic changes to panel titles and timers</li>
          <li>Grouping spent time on dashboard by task</li>
        </ul>
      </dd>

      <dt>v1 23.9.2015</dt>
      <dd>
        <ul>
          <li>Added this changelog. Woooooooot! :)</li>
          <li>Updated panel headings</li>
          <li>Display today created time records on dashboard instead of last 24 hours</li>
        </ul>
      </dd>

      <dt>v0</dt>
      <dd>
        <span>Version zero. Undocumented things. Deep dark space.</span>
      </dd>
    </dl>
  </div>
</div>
