<div class="row">
  <div class="col-sm-12">
    <div class="homepage-centered-text">
      <h3>
        Opinionated task list. Probably not for you. Registrations suspended.
      </h3>
    </div>
  </div>

  <div class="col-sm-4 col-sm-offset-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <form class='form-horizontal' action="/login" method="post">
          <div class="form-group">
            <div class="col-sm-12">
              <label for="email">E-mail</label>
              <input class="form-control" type="text" name="email" id="email" required autofocus/>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <label for="password">Password</label>
              <input class="form-control" type="password" name="password" id="password" required autofocus/>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-success btn-block"><b>Sign in</b></button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
