<div class="row">
  <div class="col-sm-12">
    <div class="homepage-centered-text">
      <h3>
        Hardmode opinionated task list. Probably not for you.
      </h3>

      <div>
        <form action="/auth/google_oauth2" method="post">
          <button class="google_sign_in_button" type="submit">
            <img src="/images/btn_google_signin_light_normal_web.png" alt="Sign in with Google" />
          </button>
        </form>

      </div>
    </div>
  </div>
</div>
