<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <p class="text-center">
      SupTasks is hardmode opinionated task list. It's probably not for you.
    </p>
    <div class="">
      <!-- <div class="g&#45;signin2" data&#45;onsuccess="onSignIn"></div> -->
      <form action="/login" method="post">
        <button type="submit">Log in with gmail</button>
      </form>
    </div>
  </div>
</div>
