<div class="row">
  <div class="col-sm-12">
    <div class="homepage-centered-text">
      <h3>
        Hardmode opinionated task list. Probably not for you.
      </h3>

      <div>
        <form action="/login" method="post">
          <button class="btn btn-success" type="submit">Log in with gmail</button>
        </form>
      </div>
    </div>
  </div>
</div>
