<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Suptasks - all tasks belong to us</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/suptasks.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container">

      <div class="header">
        <a class="navbar-brand" href="/">
          <img alt="Suptasks" src="/images/logo.png">
        </a>

        <nav>
          <ul class="nav nav-pills pull-right">
            <% if current_user %>
              <li>
                <p class="navbar-text"><a class="navbar-link" href="/time_records">Time Records </a></p>
              </li>

              <li role="presentation">
                <form class="my-navbar-form" action="/logout" method="post">
                  <button class="btn-linklike navbar-btn" type="submit">Log out <i class="fa fa-sign-out"></i></button>
                </form>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>

      <%= yield %>

      <footer class="footer">
        <p class="text-muted pull-left">
          2015 <a class="text-muted" href="http://imagineanything.cz">Imagine Anything</a>
        </p>

        <p class="text-muted pull-right">
          <a href="/changelog">Changelog</a>
          |
          <a href="/tos">Terms of Service</a>
        </p>
      </footer>
    </div>

    <script src="js/suptasks.js"></script>
  </body>
</html>
