<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Suptasks - Tasks & Time tracking</title>

    <link rel="stylesheet" href="/css/styles.min.css">
  </head>
  <body>
    <div class="container">

      <div class="header">
        <a class="navbar-brand" href="/">
          <img alt="Suptasks" src="/images/logo.png">
        </a>

        <nav>
          <ul class="nav nav-pills pull-right">
            <% if @current_user %>
              <li>
                <p class="navbar-text"><a class="navbar-link" href="/tasks/new">Add Task</a></p>
              </li>

              <li role="presentation">
                <form class="my-navbar-form" action="/logout" method="post">
                  <button class="btn-linklike navbar-btn" type="submit">Log out <i class="fa fa-sign-out"></i></button>
                </form>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>

      <% flash.each_pair do |type, message| %>
        <div class="alert alert-<%= type %>" role="alert"><%= message %></div>
      <% end %>

      <%= yield %>

      <footer class="footer">
        <p class="text-muted pull-left">
          2015 <a class="text-muted" href="http://imagineanything.cz">Imagine Anything</a>
        </p>

        <p class="text-muted pull-right">
          <a href="/about">About</a>
        </p>
      </footer>
    </div>
  </body>
</html>
