<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        New task
      </div>

      <div class="panel-body">
        <form class='form-horizontal' action="/tasks" method="post">
          <div class="form-group">
            <div class="col-sm-12">
              <input class="form-control" type="text" name="description" placeholder="Description" required/>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-9">
              <input class="form-control" type="text" name="tags" placeholder="Tags" />
            </div>

            <div class="col-sm-3">
              <input class="form-control" type="number" name="time_cost" placeholder="Time cost" />
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-default btn-block">Create new task</button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
