<div class="row">
  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        Profile
      </div>

      <div class="panel-body">
        <dl>
          <dt>Name</dt>
          <dd><%= current_user.name %></dd>
          <dt>Email</dt>
          <dd><%= current_user.email %></dd>
        </dl>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        Projects
      </div>
      <div class="panel-body">
        <b>default</b>
      </div>
    </div>
  </div>
</div>
