<div class="row terms-of-service">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        
    <h1>Terms of Service</h1>

    <p>
      SupTasks is app for personal task and time tracking. I build it primarily for my own purposes but i will be happy to have someone else using it too.
    </p>
    <p>
      However you have to note and accept few things:
    </p>
    <ul>
      <li>SupTasks might and will change often. Can happen without previous notice.</li>
      <li>SupTasks can end at any point in time without previous notice.</li>
      <li>SupTasks can have bugs which i try to fix ASAP but SupTasks can be in broken state for any period of time. Also without previous notice.</li>
      <li>Only personal data SupTasks needs to know is your email, tasks, time records and tags. I will never sell or give or whatever of these to any third party. But as everything is hackable today i can't and don't guarantee any privacy of these. I will try to do my best to secure it tho.</li>

      <li>If you don't accept these terms go away please. Using the app means you accept it.</li>
    </ul>

    <h4>
    SupTasks are run by:
    </h4>
    <address>
      <b>Imagine Anything s.r.o.</b><br />
      IČ: 291 37 420 <br />
      Chudenická 1059/30 <br />
      102 00, Praha 10 <br />
    </address>

    <!-- <h2>I some heading</h2> -->
    <!-- <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p> -->
    <!--  -->
    <!-- <h2>Another one</h2> -->
    <!-- <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p> -->
    <!--  -->
    <!-- <h2>Whats inside</h2> -->
    <!-- <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p> -->
    <!--  -->
    <!-- <h2>Read it</h2> -->
    <!-- <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p> -->
    <!--  -->
    <br />

    <p>
      Premysl Donat, Prague, 2.10.2015
    </p>
      </div>
    </div>
  </div>
</div>
