body {
  padding-bottom: 20px;
}

footer {
  border-top: 1px solid #EEE;
  bottom: 0px;
  height: 60px;
}

.container .text-muted {
  margin: 20px 0px;
}

.header {
  min-height: 60px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 2px solid #E5E5E5;
}

.gray {
  color: gray;
}

.terms-of-service {
  margin-top: -20px;
}

.undecorated-link {
  color: #333;
}

.homepage-centered-text {
  text-align: center;
  vertical-align: middle;
  margin-bottom: 20px;
}

.google_sign_in_button {
  border: none;
  background-color: white;
}

.display-inline {
  display: inline;
}

.green {
  color: green;
}

.bold {
  font-weight: bold;
}

/* Bootstrapt's hide has !important for some reason in it */
.my-hide {
  display: none;
}

.unstyled-button {
  border: none;
  background: white
}

.btn-linklike {
  border: none;
  background: white;

  color: #337AB7;
}

.btn-linklike:hover, .btn-linklike:focus  {
  text-decoration: underline;
  color: #23527C;
}

/* Bootstrapt's hide has !important for some reason in it */
.show-hidden-on-hover:hover .my-hide {
  display: inline;
}

.my-navbar-form {
  margin-top: 7px;
  margin-bottom: 7px;
  padding-right: 15px;
}

ul.nav {
  padding-top: 6px;

}


.graph {
  width: 1108px;  /* the image width  */
  height: 330px; /* the image height */
  position: relative;
  background: url('/images/barchart_background_8_cols.png') no-repeat left top;
}

.graph ul li {  
  position: absolute; 
  width: 30px;  /* the width the vertical bar */ 
  height: 288px;  /* the max height of the vertical bar */ 
  bottom: 21px;   /* distance between bottom of image and x-axis */   
  /* background: url("http://www.mobilefish.com/download/css/bar.gif"); */
  text-align: center; 
  font-weight: normal; 
  color: #ffffff; 
  /* line-height: 2.5em; */
  /* border: 1px solid; */
  list-style: none;
  color: black;
}

.graph ul li div.bar-meta {
  margin-top: 3px;
}

.graph ul li div.bar-meta span.bar-meta-submeta {
  font-size:12px;
}

/* left = the distance between image left and bar left */
.graph li.bar div.first-task { height: 30px; background-color: black; }
.graph li.bar div.second-task { height: 50px; background-color: blue; }
.graph li.bar div.third-task { height: 1px; background-color: red; }

/* .graph li.bar div.task { */
/*   background-color: black; */
/* } */

.black-background {
  background-color: black;
}

.blue-background {
  background-color: blue;
}

.red-background {
  background-color: red;
}

.white-background {
  background-color: rgba(255,0,0,0);
}

.grey-background1 {
  background-color: #d2d2d2;
}

.grey-background2 {
  background-color: #aeaeae;
}

.duration-reset {
  color: grey;
}

.duration-reset:hover {
  color: red;
}
