/* ######## */
/* Elements */
/* ######## */

body {
  padding-bottom: 20px;
}

footer {
  border-top: 1px solid #EEE;
  bottom: 0px;
  height: 60px;
}

span.label {
  line-height: 30px;
}

ul.nav {
  padding-top: 6px;
}

/* ######## */
/* Specific styles */
/* ######## */

.filter-form .form-group {
  margin-right: 10px;
}

.footer .text-muted {
  margin: 20px 0px;
}

.header {
  min-height: 60px;
  margin-bottom: 10px;
  border-bottom: 2px solid #E5E5E5;
}

.homepage-centered-text {
  margin-bottom: 20px;
  text-align: center;
  vertical-align: middle;
}

.my-navbar-form {
  margin-bottom: 7px;
  margin-top: 7px;
  padding-right: 15px;
}

/* ######## */
/* Helpers */
/* ######## */

.bold {
  font-weight: bold;
}

.btn-linklike {
  background: none;
  border: none;
  color: #337AB7;
  padding: 0px;
}

.btn-linklike:hover, .btn-linklike:focus {
  color: #23527C;
  text-decoration: underline;
}

.display-inline {
  display: inline;
}

.gray {
  color: gray;
}

.green {
  color: green;
}

.margin-left {
  margin-left: 2px;
}

.text-center {
  text-align: center;
}

.undecorated-link {
  color: #333;
}
