/* ######## */
/* Elements */
/* ######## */

body {
  padding-bottom: 20px;
}

footer {
  border-top: 1px solid #EEE;
  bottom: 0px;
  height: 60px;
}

.footer .text-muted {
  margin: 20px 0px;
}

.header {
  min-height: 60px;
  margin-bottom: 10px;
  border-bottom: 2px solid #E5E5E5;
}

.graph {
  background: url('/images/barchart_background_12_cols.png') no-repeat left top;
  height: 330px;
  position: relative;
  width: 1108px;
}

.graph .bar {
  width: 30px;
  float: left;
  margin-top: 21px;
  margin-left: 15px;
}

.graph .bar:first-child {
  margin-left: 45px;
}

.homepage-centered-text {
  margin-bottom: 20px;
  text-align: center;
  vertical-align: middle;
}

.google-sign-in-button {
  background-color: white;
  border: none;
}

.my-navbar-form {
  margin-bottom: 7px;
  margin-top: 7px;
  padding-right: 15px;
}

ul.nav {
  padding-top: 6px;
}

/* ######## */
/* Helpers */
/* ######## */

.bold {
  font-weight: bold;
}

.left-margin {
  margin-left: 10px;
}

.text-center {
  text-align: center;
}

.white-background {
  background-color: rgba(255,0,0,0);
}

.grey-background1 {
  background-color: #d2d2d2;
}

.grey-background2 {
  background-color: #aeaeae;
}

.gray {
  color: gray;
}

.red-hover:hover {
  color: red;
}

.undecorated-link {
  color: #333;
}

.display-inline {
  display: inline;
}

.green {
  color: green;
}

/* Bootstrapt's hide has !important for some reason in it */
.my-hide {
  display: none;
}

.unstyled-button {
  border: none;
  background: white
}

.btn-linklike {
  background: white;
  border: none;
  color: #337AB7;
}

.btn-linklike:hover, .btn-linklike:focus  {
  color: #23527C;
  text-decoration: underline;
}

/* Bootstrapt's hide has !important for some reason in it */
.show-hidden-on-hover:hover .my-hide {
  display: inline;
}
